*{
    margin: 0;
    padding: 0;

}
html, body {
    width: 100%;
    height: 100%;
}
#container{
    /* need on mõõdud akna suhtes siin 90% brüwseri aknast */
    width: 90%;
    height: 90%;
    border:1px solid black;
    display: flex;
    background-color:gray ;
    flex-wrap: wrap;
    /* kuidas paigutatakse kastid horisontaalses suunas parent kasti sees */
    justify-content: space-evenly;
    /* vertikaalne paigutus parent kasti sees */
    align-items: center;
/* see muudab kastide paigutuse suunda */
    /* flex-direction: column; */
}
#container div {
    border:1px solid black;
    margin: 10px;
    background-color: blanchedalmond;
    text-align: center;
}
#div1 {
    flex: 1;
    order: 1;
    flex-basis: 100%;
    height: 50px;
    /* see div peab olema 100% laiuses, teised liiguvad järgmisele reale ja jagunevad seal  */
}
#div2 {
    flex: 2;
    /* teistel on 1 sellel on 2 jagatakse teistele kaside üks osa, sellele 2 osa */
    order: 2;
    height: calc(100% - 208px);

}
#div3 {
    flex: 1;
    order: 3;

}
#div4 {
    flex: 2;
    order: 5;
    flex-basis: 100%;
    height: 50px;
    /* nende kasutamisel saab näiteks muuta paigutust mobiili vaates */

}#div5 {
    flex: 1;
    order: 4;

}