*{
    margin: 0;
    padding: 0;
}
html, body {
    width: 100%;
    height: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#container{
    width: 100%;
    height: 100%;
    border:1px solid black;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
}
/* kehtib kõigile div-idele containeri sees */
#container div {
    text-align: center;
    /* need kolm rida panevad kõigis conteineris asuvates div-ides teksti keskele */
    display: flex;
    justify-content: center;
    align-items: center;

}
#header{
    flex-basis: 100%;
    height: 100px;
    /* background-color:#c59db5; */
    background-color: #8a9a9a;
    order: 1;
}
#footer{
    flex-basis: 100%;
    background-color: #8a9a9a;
    height: 100px;
    order:5;
}
#left{
background-color: #959889;
flex:2;
order: 2;
}
#main{
    /* background-color: #8a9a9a; */
    background-color:#97c1a1;
flex:4;
order: 3;
/* sellega saan paigutada left- right div-id maksimaalsesse laiusesse 
piisab kui annan kõrguse ühele neist objektidest
lahutan headeri ja footeri kõrguse*/
height: calc(100% - 200px);

}
#right{
/* background-color:#c59db5; */
background-color: #959889;
flex:1;
order: 4;
}

/* see pannakse lõppu, siis jääb peale 
siin defineeritud, kõik mis muutub kui ekraan on  väiksem*/
@media(max-width:500px){
    #header{
        order:1;
    }
    #footer{
        order: 5;
    }
    #left {
        flex:1;
        order: 2;
        min-height: 150px;
    }
    #right {
        flex:1;
        order: 3;
        min-height: 150px;
    }
    #main {
        flex-basis: 100%;
        /* minmaalne laius */
        order:4;
        height: calc(100% - 350px);
    }

}