
* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
html, body {
    width: 100%;
    height: 100%;
}
header {
    margin-left: 10%;
    width: 80%;
    height: 300px;
    background-image:url(images/header.jpg);
    background-position: center;
    position: fixed;
    top: 0;
  
}
#topSubHeader{

    font-weight: bold;
    background: oldlace;
    padding: 30px;
    text-align: center;

}
#bottomLeftBox{
    background: lightblue;
    width: 150px;
    padding: 10px;
    text-align: center;
    position: absolute;
    bottom: 0;
    : 0;

}
#bottomRightBox{
    background: lightblue;
    width: 150px;
    padding: 10px;
    text-align: center;
    position: absolute;
    bottom: 0;
    right: 0;

}
#bottmomMiddleBox{
    width: calc(100% - 366px);
    position: absolute;
    padding: 10px;
    text-align: center;
    bottom: 0;
    left: 172px;
    border: 1px solid black;
}
main{
    width: 80%;
    margin-left: 10%;
    margin-top: 310px;
}
nav{
    width: 50px;
    height: 100%;
    position: fixed;
    background: beige;
    top: 0;
    left: 0;
    /* cursor: pointer; see teeb nii et kui lähen selle objekti peale tundub nagu saaks klikkida, kursor muutub */
    transition: 1s;  /* ühest olekust teise minemise aeg */
    opacity: 60%;
    overflow: hidden;

}
/* #navButton{
    cursor: pointer;
    padding: 13px;
} */
/* 50pc lai ja alla välja */