
        body {background: lightsteelblue;
            font-family:Calibry, Arial, Helvetica;}
        h1 {font-size: 30px;
            color: darkslategrey;
        text-transform: uppercase;}
        h2{
            font-size: 1,5em;
            text-decoration: underline;
            color: darkslategrey;
        }
        p{
            background: lightgray;
            border-radius: 1px;
            padding: 10px;
            color:  darkslategrey;}
            .two-bar-paragraph {
            columns: 2;
            text-align: justify;
        }
        img{
            border-radius: 2%;
        }
    
        table{
            width: 80%;
            border: 5px dashed darkmagenta;
            background: rgb(184, 8, 8);}
        .text-centre{
            text-align: center;}
        tabel td {
            padding: 10px;
            border: 2px dotted blue;
        }
        table tr:nth-child(odd){
            background:lightyellow;
        }
    
