*{
    margin: 0;
    padding: 0;
}
html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
p{
    /* color: #97c1a1; */
    color: #8a9a9a;
}
#container{
    /* need on mõõdud akna suhtes siin 90% brüwseri aknast */
    width: 100%;
    height: 100%;
    border:1px solid black;
    display: grid;
    background-color:#8a9a9a ;
    grid-template-columns: 250px auto;
    grid-template-rows: 250px 50px auto 75px;
}
#container div {
    /* border:1px solid black; */
    margin: 2px;
    background-color: blanchedalmond;
    display: flex;
    justify-content: center;
    align-items: center;
}
#header {
    grid-column: 2/3;
}
#top-nav {
    grid-column: 2/3;
}     
#main-nav {
    grid-row: 1/5;
}
#main {
    grid-column: 2/3;
}
#footer {  
    grid-column: 2/3;  
} 
@media (max-width:600px){
#container div{
    background-color: lemonchiffon;
}
#container{
    grid-template-columns: 100%;
    grid-template-rows: 100px 75px 100px auto 50px;}
#header {
    grid-row: 1/2;
    grid-column: 1/2;
    }
#footer {
    grid-row: 2/3;
    grid-column: 1/2;
    }
#main-nav {
    grid-row: 3/4;
    grid-column: 1/2;
    }
#main {
    grid-row: 4/5;
    grid-column: 1/2;
    }
#top-nav {
    grid-row: 5/6;
    grid-column: 1/2;
    }     

}
