*{
    margin: 0;
    padding: 0;

}
html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#container{
    /* need on mõõdud akna suhtes siin 90% browseri aknast */
    width: 100%;
    height: 100%;
    border:1px solid black;
    display: grid;
    background-color:gray ;
    /* jagan konteineri tulpadeks ja määran kui suur fraktsion (fr) on iga tulp
    saab ka öelda protsendiga, või auto */
    /* kui panen servadesse auto box-id siis saab hästi centrisse panna oma lehe
    sellega määran mitu veergu on */
    grid-template-columns: auto 200px 400px 100px auto;
    /* sellega jagan layout-i ridadeks ja määäran kui suure osa mingi rida võtab 
    sellega määran mitu rida on*/
    grid-template-rows: 100px auto 50px;
/* siin määran alad  ja kusjuures . saan kautada määramata ala jaoks */
    grid-template-areas: 
    ". header header header. "
    ". leftBox main rightBox. "
    ". leftBox footer footer. "
    ;
}
#container div {
    border:1px solid black;
    margin: 10px;
    background-color: blanchedalmond;
    /* text-align: center; */
}
#div1 {
 grid-area: header;
     }
 #div2 {
    grid-area: leftBox;
}     
#div3 {
 grid-area: main;
}
#div4 {
    grid-area: rightBox;         
}
#div5 {
grid-area: footer;
            
}


/* #div1 {
grid-column: 1/3;

}
#div2 {
grid-column: 3/4;
grid-row: 1/3;
}
#div3 {

}
#div4 {

}#div5 {
grid-column: 1/4;

} */